<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/cee4a655-5b25-45ed-9563-8ae72fa7eaaa/resourceGroups/Grupo1/providers/Microsoft.Web/sites/service-schedule</ResourceId>
    <ResourceGroup>Grupo1</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://service-schedule.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0d207a03-625e-41e6-b49b-c27fa9133429</ProjectGuid>
    <PublishUrl>https://service-schedule.scm.azurewebsites.net/</PublishUrl>
    <UserName>$service-schedule</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>